@charset "utf-8";

body{
    background-image: url(../img/main.jpg);
    background-position:center;
    background-repeat: no-repeat;
}
div{
    width:900px;
    height:300px;
    border:1px solid #fff;
    border-radius:25px;
    box-shadow: 10px 10px 10px black;
    margin:0 auto;
    text-align: center;
    font-size:100px;
    line-height:300px;
    color:#fff;
    font-weight:bold;
    background:rgba(0, 0, 0, 0.6)
}


.store{margin-top:120px;margin-bottom:100px;}